@font-face { 
  font-family:'PreplyInterV';
  font-weight:400 700;
  font-display:swap;
  font-style:oblique 0deg 10deg;
  src:url('https://static.preply.com/ds/fonts/en/PreplyInter.var.woff2') format('woff2');
  unicode-range:U+0020-007F, U+AB, U+BB;
} 
@font-face { 
  font-family:'PreplyInterV';
  font-weight:400 700;
  font-display:swap;
  font-style:oblique 0deg 10deg;
  src:url('https://static.preply.com/ds/fonts/cyr/PreplyInter.var.woff2') format('woff2');
  unicode-range:U+401, U+404, U+406, U+407, U+410-44F, U+451, U+454, U+456, U+457, U+490, U+491;
} 
@font-face { 
  font-family:'PreplyInterV';
  font-weight:400 700;
  font-display:swap;
  font-style:oblique 0deg 10deg;
  src:url('https://static.preply.com/ds/fonts/lat/PreplyInter.var.woff2') format('woff2');
  unicode-range:U+A1, U+BF-C4, U+C6-CF, U+D1-D6, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F6, U+F9-FC,
        U+FF, U+102-107, U+118, U+119, U+11E, U+11F, U+130, U+131, U+141-144, U+152, U+153, U+15A,
        U+15B, U+15E, U+15F, U+178-17C, U+218-21B, U+1E9E, U+E02E;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/en/PreplyInter.regular.woff2') format('woff2');
  unicode-range:U+0020-007F, U+AB, U+BB;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:500;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/en/PreplyInter.medium.woff2') format('woff2');
  unicode-range:U+0020-007F, U+AB, U+BB;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/en/PreplyInter.bold.woff2') format('woff2');
  unicode-range:U+0020-007F, U+AB, U+BB;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:400;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/en/PreplyInter.italic.woff2') format('woff2');
  unicode-range:U+0020-007F, U+AB, U+BB;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:500;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/en/PreplyInter.medium.italic.woff2')
        format('woff2');
  unicode-range:U+0020-007F, U+AB, U+BB;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:700;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/en/PreplyInter.bold.italic.woff2') format('woff2');
  unicode-range:U+0020-007F, U+AB, U+BB;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/cyr/PreplyInter.regular.woff2') format('woff2');
  unicode-range:U+401, U+404, U+406, U+407, U+410-44F, U+451, U+454, U+456, U+457, U+490, U+491;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:500;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/cyr/PreplyInter.medium.woff2') format('woff2');
  unicode-range:U+401, U+404, U+406, U+407, U+410-44F, U+451, U+454, U+456, U+457, U+490, U+491;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/cyr/PreplyInter.bold.woff2') format('woff2');
  unicode-range:U+401, U+404, U+406, U+407, U+410-44F, U+451, U+454, U+456, U+457, U+490, U+491;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:400;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/cyr/PreplyInter.italic.woff2') format('woff2');
  unicode-range:U+401, U+404, U+406, U+407, U+410-44F, U+451, U+454, U+456, U+457, U+490, U+491;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:500;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/cyr/PreplyInter.medium.italic.woff2')
        format('woff2');
  unicode-range:U+401, U+404, U+406, U+407, U+410-44F, U+451, U+454, U+456, U+457, U+490, U+491;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:700;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/cyr/PreplyInter.bold.italic.woff2') format('woff2');
  unicode-range:U+401, U+404, U+406, U+407, U+410-44F, U+451, U+454, U+456, U+457, U+490, U+491;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/lat/PreplyInter.regular.woff2') format('woff2');
  unicode-range:U+A1, U+BF-C4, U+C6-CF, U+D1-D6, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F6, U+F9-FC,
        U+FF, U+102-107, U+118, U+119, U+11E, U+11F, U+130, U+131, U+141-144, U+152, U+153, U+15A,
        U+15B, U+15E, U+15F, U+178-17C, U+218-21B, U+1E9E, U+E02E;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:500;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/lat/PreplyInter.medium.woff2') format('woff2');
  unicode-range:U+A1, U+BF-C4, U+C6-CF, U+D1-D6, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F6, U+F9-FC,
        U+FF, U+102-107, U+118, U+119, U+11E, U+11F, U+130, U+131, U+141-144, U+152, U+153, U+15A,
        U+15B, U+15E, U+15F, U+178-17C, U+218-21B, U+1E9E, U+E02E;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/lat/PreplyInter.bold.woff2') format('woff2');
  unicode-range:U+A1, U+BF-C4, U+C6-CF, U+D1-D6, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F6, U+F9-FC,
        U+FF, U+102-107, U+118, U+119, U+11E, U+11F, U+130, U+131, U+141-144, U+152, U+153, U+15A,
        U+15B, U+15E, U+15F, U+178-17C, U+218-21B, U+1E9E, U+E02E;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:400;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/lat/PreplyInter.italic.woff2') format('woff2');
  unicode-range:U+A1, U+BF-C4, U+C6-CF, U+D1-D6, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F6, U+F9-FC,
        U+FF, U+102-107, U+118, U+119, U+11E, U+11F, U+130, U+131, U+141-144, U+152, U+153, U+15A,
        U+15B, U+15E, U+15F, U+178-17C, U+218-21B, U+1E9E, U+E02E;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:500;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/lat/PreplyInter.medium.italic.woff2')
        format('woff2');
  unicode-range:U+A1, U+BF-C4, U+C6-CF, U+D1-D6, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F6, U+F9-FC,
        U+FF, U+102-107, U+118, U+119, U+11E, U+11F, U+130, U+131, U+141-144, U+152, U+153, U+15A,
        U+15B, U+15E, U+15F, U+178-17C, U+218-21B, U+1E9E, U+E02E;
} 
@font-face { 
  font-family:'PreplyInter';
  font-style:oblique 10deg;
  font-weight:700;
  font-display:swap;
  src:url('https://static.preply.com/ds/fonts/lat/PreplyInter.bold.italic.woff2') format('woff2');
  unicode-range:U+A1, U+BF-C4, U+C6-CF, U+D1-D6, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F6, U+F9-FC,
        U+FF, U+102-107, U+118, U+119, U+11E, U+11F, U+130, U+131, U+141-144, U+152, U+153, U+15A,
        U+15B, U+15E, U+15F, U+178-17C, U+218-21B, U+1E9E, U+E02E;
} 
@font-face { 
  font-family:'PreplyInter-Fallback';
  size-adjust:109.71%;
  src:local('Arial');
} 
body { 
/* CSS Variables that may have been missed get put on body */ 
    --74358d:  0px;  
    --6947b0:  4px;  
    --1ba55a:  8px;  
    --477fda:  16px;  
    --743802:  24px;  
    --39ce90:  32px;  
    --28cff1:  48px;  
    --8f1238:  #d8dfe6;  
    --da403c:  #8194a7;  
    --7c8c3c:  #52667d;  
    --c9575b:  #192435;  
    --f72cdd:  #cd4a86;  
    --7df86d:  14px;  
    --d1c480:  500;  
    --8d63e4:  14px;  
    --d4313c:  1.42857143;  
    --410fb7:  rgba(9,15,25,.56);  
    --8d5131:  12px;  
    --0aee7b:  8px;  
    --5eeb28:  2px;  
    --2f2e00:  40px;  
    --9a5737:  8px;  
    --65766b:  16px;  
    --b47a67:  14px;  
    --1c37d5:  16px;  
    --a814c9:  0px 0px 8px rgba(9,15,25,.1);  
    --7c1b1c:  24px;  
    --28e99e:  14px;  
    --a5b1e0:  16px;  
    --ca04c0:  500;  
    --749dcd:  500;  
    --af784d:  20px;  
    --76f1ec:  24px;  
    --015e8c:  0.001em;  
    --2a3820:  0.0025em;  
    --e1d91f:  normal;  
    --b079f7:  normal;  
    --d7e46a:  normal;  
    --6fc943:  normal;  
    --73984e:  400;  
    --6e9792:  500;  
    --aface6:  #090f19;  
    --786b9e:  #fff;  
    --1614c9:  #006987;  
    --e56164:  #c3f5fa;  
    --ab736c:  transparent;  
    --0d124d:  #d9fafd;  
    --0d6ae2:  #006987;  
    --1e7527:  #006987;  
    --7d7969:  #2e81a0;  
} 

* { 
    font-family:   'PreplyInterV', 'PreplyInter', 'PreplyInter-Fallback', sans-serif;
    box-sizing: border-box;
} 

div { 
    border: 0; 
    margin: 0; 
    padding: 0;
} 

body { 
    border: 0; 
    margin: 0; 
    padding: 0;
} 

.f5F8lI { 
    --74358d: 0px; 
    --6947b0: 4px; 
    --1ba55a: 8px; 
    --477fda: 16px; 
    --743802: 24px; 
    --39ce90: 32px; 
    --28cff1: 48px; 
    --8f1238: #d8dfe6; 
    --da403c: #8194a7; 
    --7c8c3c: #52667d; 
    --c9575b: #192435; 
    --f72cdd: #cd4a86; 
    --7df86d: 14px; 
    --d1c480: 500; 
    --8d63e4: 14px; 
    --d4313c: 1.42857143; 
    --410fb7: rgba(9,15,25,.56); 
    --8d5131: 12px; 
    --0aee7b: 8px; 
    --5eeb28: 2px; 
    --2f2e00: 40px; 
    --9a5737: 8px; 
    --65766b: 16px; 
    --b47a67: 14px; 
    --1c37d5: 16px; 
    --a814c9: 0px 0px 8px rgba(9,15,25,.1); 
    --7c1b1c: 24px; 
    --28e99e: 14px; 
    --a5b1e0: 16px; 
    --ca04c0: 500; 
    --749dcd: 500; 
    --af784d: 20px; 
    --76f1ec: 24px; 
    --015e8c: 0.001em; 
    --2a3820: 0.0025em; 
    --e1d91f: normal; 
    --b079f7: normal; 
    --d7e46a: normal; 
    --6fc943: normal; 
    --73984e: 400; 
    --6e9792: 500; 
} 

.f5F8lI.ds-scheme--base { 
    --aface6: #090f19; 
    --786b9e: #fff; 
    --1614c9: #006987; 
    --e56164: #c3f5fa; 
    --ab736c: transparent; 
    --0d124d: #d9fafd; 
    --0d6ae2: #006987; 
    --1e7527: #006987; 
    --7d7969: #2e81a0; 
    color: #090f19;
} 

html { 
    box-sizing:   border-box;
    border:  0; 
    margin:  0; 
    padding:  0;
    color: #384047; 
    font-size: 14px;
} 

section { 
    display: block;
    border:  0; 
    margin:  0; 
    padding:  0;
} 

.styles_HeaderWrapper__XmMFy { 
    align-items: center; 
    background-color: #f3f3f3; 
    display: flex; 
    gap: var(--743802); 
    height: 70px; 
    justify-content: space-between; 
    padding: 0 var(--477fda);
} 

@media (min-width: 700px){ 
  .styles_HeaderWrapper__XmMFy { 
    padding: 0 var(--743802);
  } 
}     

@media (min-width: 880px){ 
  .styles_HeaderWrapper__XmMFy { 
    padding: 0 var(--39ce90);
  } 
}     

:before,:after { 
    box-sizing: border-box;
} 

._15uGWh { 
    border: none; 
    border-spacing: 0; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    font-weight: inherit; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    text-align: inherit;
} 

._3rnoor { 
    -ms-flex-wrap: nowrap; 
    flex-wrap: nowrap;
} 

.X4eHUe { 
    -webkit-box-direction:  normal; 
    -ms-flex-direction:  row; 
    flex-direction:  row;
    -webkit-box-orient: horizontal;
} 

._1o4EVj { 
    -webkit-box-direction:  normal; 
    -ms-flex-direction:  row; 
    flex-direction:  row;
    -webkit-box-orient: horizontal;
} 

.hUFwKI { 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

._1-5zEl { 
    grid-gap: var(--743802); 
    gap: var(--743802);
} 

._2x1aeM { 
    padding-top: var(--74358d);
} 

._1WH1_Q { 
    padding-right: var(--74358d);
} 

._2JlASK { 
    padding-bottom: var(--74358d);
} 

.GWHMDM { 
    padding-left: var(--74358d);
} 

._1kf68Q { 
    display: none;
} 

@media (min-width: 1200px){ 
  ._3nnn2i { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
  } 
}     

._3EMNmq { 
    grid-gap: var(--74358d); 
    gap: var(--74358d);
} 

.WWAE2o { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
} 

@media (min-width: 1200px){ 
  ._2yL1mb { 
    display: none;
  } 
}     

a { 
    border: 0; 
    vertical-align: baseline; 
    margin: 0; 
    padding: 0; 
    font-size: inherit; 
    font-weight: inherit;
} 

@media (min-width: 880px){ 
  ._3pBbvn { 
    display: initial;
  } 
}     

._2SDOH1 { 
    border: none; 
    border-spacing: 0; 
    font-weight: inherit; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    text-align: inherit;
} 

._3WN-K2 { 
    -webkit-box-flex: 0; 
    -ms-flex: none; 
    flex: none;
} 

.BDosR9 { 
    grid-gap: var(--477fda); 
    gap: var(--477fda);
} 

@media (min-width: 880px){ 
  ._1s0Dco { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
  } 
}     

.styles_HeaderDropdownWrapper__uIOg5 { 
    position: relative;
} 

.styles_VerticalDivider__QoXCN { 
    background-color: var(--da403c); 
    height: var(--743802); 
    width: 1px;
} 

._3Ipr_0 { 
    border-radius: var(--5eeb28); 
    color: var(--1e7527); 
    cursor: pointer; 
    display: inline-block; 
    text-decoration: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

._3Ipr_0:hover { 
    color: var(--7d7969);
} 

button { 
    font-family: inherit;
} 

.styles_MobileMenuButton__1bR5s { 
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    margin: 0 calc(var(--477fda)*-1) 0 0; 
    padding: var(--477fda);
} 

.styles_MobileMenuContainer__pHT73 { 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; 
    display: block; 
    height: 100%; 
    left: 0; 
    opacity: 0; 
    pointer-events: all; 
    position: fixed; 
    top: 0; 
    transform: translateX(200%); 
    transition: transform .9s; 
    width: 100%; 
    will-change: opacity; 
    z-index: 11;
} 

._31l8bu { 
    display: inline-flex; 
    display: -ms-inline-flexbox; 
    display: -webkit-inline-box; 
    -webkit-font-smoothing:  antialiased; 
    text-rendering:  optimizeLegibility; 
    background-color:  transparent; 
    border:  1px solid transparent; 
    border-radius:  var(--8d5131); 
    color:  var(--aface6); 
    cursor:  pointer; 
    font-size:  var(--8d63e4); 
    font-weight:  var(--6e9792); 
    line-height:  var(--d4313c); 
    position:  relative; 
    text-align:  center; 
    text-decoration:  none; 
    -webkit-user-select:  none; 
    -moz-user-select:  none; 
    -ms-user-select:  none; 
    user-select:  none;
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    align-items: center; 
    justify-content: center;
} 

._3QJ6Hl { 
    width: auto;
} 

.f5AXpU { 
    font-size: var(--b47a67); 
    min-height: var(--2f2e00); 
    padding: var(--9a5737) var(--65766b);
} 

.wj4gqc { 
    background-color: var(--e56164); 
    border-color: var(--ab736c); 
    color: var(--1614c9);
} 

._1rbWLs { 
    min-width: -webkit-max-content; 
    min-width: -moz-max-content; 
    min-width: max-content;
} 

.wj4gqc:hover { 
    background-color: var(--0d124d); 
    color: var(--0d6ae2);
} 

.styles_DropdownButton__w9edY { 
    all: unset; 
    align-items: center; 
    color: var(--c9575b); 
    cursor: pointer; 
    display: flex; 
    font-weight: var(--d1c480); 
    gap: var(--6947b0); 
    transition: color .15s; 
    white-space: nowrap;
} 

.styles_DropdownButton__w9edY:hover { 
    color: var(--7c8c3c);
} 

.styles_overlay__aTxTh { 
    display: none; 
    height: 100%; 
    left: 0; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
} 

.styles_DropdownWrapper__zJ5Kq { 
    cursor: auto; 
    display: none; 
    left: -14px; 
    min-width: 185px; 
    position: absolute; 
    top: var(--39ce90); 
    transition: opacity .1s,transform .1s; 
    z-index: 6;
} 

span { 
    border: 0; 
    margin: 0; 
    padding: 0;
} 

._3uaBxy { 
    color: var(--c9575b);
} 

.nKoHrt { 
    display: inline-block; 
    vertical-align: text-top;
} 

._2YELqy { 
    height: var(--7c1b1c); 
    max-width: var(--7c1b1c); 
    min-width: var(--7c1b1c); 
    width: var(--7c1b1c);
} 

._22lwVW { 
    grid-gap: var(--6947b0); 
    gap: var(--6947b0);
} 

.styles_MobileMenuOverlay__8Nc5_ { 
    background: var(--410fb7); 
    bottom: 0; 
    left: 0; 
    position: absolute; 
    right: 0; 
    top: 0;
} 

.styles_MobileMenuPane__HiFj6 { 
    background: #fff; 
    bottom: 0; 
    display: flex; 
    flex-direction: column; 
    font-size: 16px; 
    min-width: 250px; 
    position: absolute; 
    right: 0; 
    top: 0; 
    transform: translateX(100%); 
    transition: transform .2s; 
    will-change: transform;
} 

._3Ubdzh { 
    display: inline-block;
} 

.styles_LinkWrapper__mkjy8 { 
    white-space: nowrap;
} 

._1Mv9ye { 
    display:  inline-flex; 
    display:  -ms-inline-flexbox; 
    display:  -webkit-inline-box; 
    -webkit-box-align:  center; 
    -ms-flex-align:  center; 
    -webkit-box-pack:  center; 
    -ms-flex-pack:  center; 
    align-items:  center; 
    justify-content:  center;
    grid-gap: var(--0aee7b); 
    gap: var(--0aee7b); 
    vertical-align: baseline;
} 

._18Ax2l { 
    padding-top: var(--477fda);
} 

.I4gO77 { 
    padding-right: var(--477fda);
} 

.kjiJEp { 
    padding-bottom: var(--477fda);
} 

.rdvNhX { 
    padding-left: var(--477fda);
} 

._28AVC_ { 
    -webkit-box-flex: 1; 
    background-color: var(--786b9e); 
    border: none; 
    border-spacing: 0; 
    -webkit-box-shadow: var(--a814c9); 
    box-shadow: var(--a814c9); 
    color: var(--aface6); 
    -ms-flex: 1; 
    flex: 1; 
    font-weight: inherit; 
    list-style: none; 
    margin: 0; 
    text-align: inherit;
} 

._2QG_l9 { 
    border-radius: var(--1c37d5);
} 

.nKoHrt svg  { 
    fill: currentColor; 
    display: block; 
    max-height: 100%; 
    max-width: 100%; 
    min-width: 100%; 
    width: 100%;
} 

p { 
    border: 0; 
    vertical-align: baseline; 
    margin: 0; 
    padding: 0; 
    font-size: inherit; 
    font-weight: inherit;
} 

.khPkeq { 
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility; 
    font-size: var(--8d63e4); 
    font-weight: var(--73984e); 
    line-height: var(--d4313c); 
    margin: 0;
} 

._2cZbUW { 
    font-size: var(--28e99e); 
    font-style: var(--e1d91f); 
    font-variation-settings: var(--d7e46a); 
    font-weight: var(--ca04c0); 
    letter-spacing: var(--015e8c); 
    line-height: var(--af784d);
} 

.styles_MobileMenuHead__uKRiO { 
    align-items: center; 
    display: flex; 
    height: 70px; 
    padding: 0 24px;
} 

.styles_MobileMenuBody__GnFIA { 
    border-top: 1px solid var(--8f1238); 
    display: flex; 
    flex: 1 1 100%; 
    flex-direction: column; 
    overflow-y: auto; 
    padding: var(--28cff1) var(--743802) var(--743802); 
    width: 100%;
} 

._3Ubdzh svg  { 
    display: block;
} 

.TeMu3z { 
    -webkit-box-direction:  normal; 
    -ms-flex-direction:  column; 
    flex-direction:  column;
    -webkit-box-orient: vertical;
} 

.styles_TextNowrap__QxEn2 { 
    white-space: nowrap;
} 

.styles_CloseButton__JfeZn { 
    align-items: center; 
    display: flex; 
    justify-content: center; 
    position: absolute; 
    right: 0;
} 

.CloseButton_CloseButton__rXPWl { 
    position: absolute; 
    right: 0; 
    height: 48px; 
    width: 48px; 
    background: none; 
    border: 0; 
    outline: 0; 
    cursor: pointer;
} 

.styles_MobileMenuActions__u6ofg { 
    display: flex; 
    flex-direction: column; 
    gap: var(--477fda); 
    margin-top: auto;
} 

._2WBp0z { 
    grid-gap: var(--1ba55a); 
    gap: var(--1ba55a);
} 

.CloseButton_CloseIcon__2df7t { 
    height: 12px; 
    width: 12px; 
    fill: #aeb5bc; 
    transition: 50ms;
} 

@media (min-width: 880px){ 
  ._3YQLyg { 
    display: none;
  } 
}     

.styles_SelectWrapper__3CHVK { 
    align-items: center; 
    display: flex; 
    position: relative; 
    z-index: 1;
} 

.styles_badgeNewIcon__Fjpc8 { 
    height: 18px;
} 

.styles_badgeNewText__S99x2 { 
    background-color: var(--f72cdd); 
    color: #fff; 
    font-size: 11px; 
    font-weight: 600; 
    letter-spacing: .03em; 
    line-height: 14px; 
    margin-left: -1px; 
    margin-right: -1px; 
    padding: 2px 0;
} 

._1kfchs { 
    color: var(--7c8c3c);
} 

select { 
    font-family: inherit;
} 

.styles_Select__om9ng { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-color: transparent; 
    background-image: none; 
    border: 1px solid #dadfe1; 
    border-radius: var(--8d5131); 
    cursor: pointer; 
    font-size: var(--7df86d); 
    height: 38px; 
    padding: 0 30px 0 12px; 
    transition: all .2s; 
    width: 100%; 
    z-index: 1;
} 

.styles_ExpandArrowWrapper__UsGoB { 
    align-items: center; 
    display: flex; 
    height: var(--39ce90); 
    position: absolute; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: var(--39ce90); 
    z-index: -1;
} 

.styles_LinkWrapperMobile__LHk68 { 
    position: relative;
} 

.styles_LinkWrapperMobile__LHk68:before { 
    background: var(--da403c); 
    bottom: 0; 
    content: ""; 
    display: block; 
    left: -20px; 
    margin-left: -8px; 
    opacity: 0; 
    position: absolute; 
    top: 0; 
    transform: translateX(0); 
    transition: transform .2s,opacity .1s; 
    width: 4px;
} 

.styles_LinkWrapperMobile__LHk68:hover:before { 
    opacity: 1; 
    transform: translateX(4px);
} 

._3Jqprc { 
    padding-top: var(--6947b0);
} 

.CTbXk- { 
    padding-right: var(--6947b0);
} 

.TytX3G { 
    padding-bottom: var(--6947b0);
} 

._3A2vcG { 
    padding-left: var(--6947b0);
} 

._1WpHZG { 
    font-size: var(--a5b1e0); 
    font-style: var(--b079f7); 
    font-variation-settings: var(--6fc943); 
    font-weight: var(--749dcd); 
    letter-spacing: var(--2a3820); 
    line-height: var(--76f1ec);
} 


